<%- include ( "partials/header.ejs") %> 
<body>
    <h1>Compose </h1>
    <%- include ("partials/header.ejs") %> 
 .  <%- include("partials/footer.ejs")%>
</body>
<hr>
<%- include("partials/footer.ejs")%>