</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
<div class="l-center">
    <div class="global-footer__links">
        <div class="l-cluster">
            <ul class="clean-list" role="list">
                                        <li>
                        <a href="#" hreflang="en">
                            <span lang="en" dir="ltr">Home</span>
                        </a>
                    </li>
                                        <li>
                        <a href="#" hreflang="en">
                            <span lang="en" dir="ltr">Contact</span>
                        </a>
                    </li>
                                        <li>
                        <a href="#" hreflang="en">
                            <span lang="en" dir="ltr">Help</span>
                        </a>
                    </li>
                                        <li>
                        <a href="#" hreflang="en">
                            <span lang="en" dir="ltr">Donate</span>
                        </a>
                    </li>
                                        <li>
                        <a href="#" hreflang="en">
                            <span lang="en" dir="ltr">Legal &amp; Policies</span>
                        </a>
                                </ul>
        </div>
        <ul class="clean-list" role="list">
            <li><a class="with-icon--larger" href="https://w3c.social/@w3c" hreflang="en">
                    <img class="icon icon--larger" src="/assets/website-2021/svg/mastodon.svg" width="20" height="20" alt="" aria-hidden="true" loading="lazy">
                    <span class="visuallyhidden"><span lang="en" dir="ltr">W3C on Mastodon</span></span></a>
            </li>
            <li><a class="with-icon--larger" href="https://github.com/w3c/" hreflang="en">
                    <img class="icon icon--larger" src="/assets/website-2021/svg/github.svg" width="20" height="20" alt="" aria-hidden="true" loading="lazy">
                    <span class="visuallyhidden"><span lang="en" dir="ltr">W3C on GitHub</span></span></a>
            </li>
        </ul>
    </div>
        <p class="copyright"><span lang="en" dir="ltr">Copyright © from T.R Kong <%= new Date().getFullYear() %></p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>