<%- include("partials/header.ejs") %>
<div class="about">
<h1>About Me</h1>

<img class="profile" src="images/Batman1.jpeg" alt="Batman">
<p>
  Hello.
  I'm a Grad student of Missouri Science and Technology, my major is Information Science and Technology, I ❤️ programming 
  and classic literature. I want to be  one of the world's best software engineer and make contribution to address the interconnected challenges of our modern world.


</p>
<p> Knowing more about me, please click<a href="https://riokong.github.io/My-Resume/"> My Resume</a> </p>
<p> Glad to meet you!</p>
</div>
<hr>
  <%- include("partials/footer.ejs") %>