<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
    <style>
        footer {
            text-align: center;
            padding: 5px;
            background-color: #abbaba;
            color: #000;
}
       
    </style>
</head>

<body>
    <h1>TENGRUI KONG</h1>
<img src="../public/images/Tengrui.jpg" width="100"  alt="My photo">

<h2>Summary</h2>
<p>My goal is to be one of the world's best software engineer and make contribution to address the interconnected challenges of our modern world.</p>
<hr/>

<h2>Education</h2>
<p>
    <ul>
        <li>Master in Finance, University of International Business And Economics 
        (2013-2015) </li> 
        <li>Bachelor in Communication Engineering, East China Jiaotong University(2008-2012)</li>
    </ul>
</p>

<h2>Work Experience</h2>
<ul>
    <li><h3>Level 4 Principal Staff Member|<br>Changsha Science and Technology Bureau, <br> Innovation and Development office &Technology and Finance Office</h3>
        <p>Nov 2020 - May 2024</p>
        <ul>
            <li>Utilize data and indicators pertinent to the advancement of S&T innovation within the city to craft comprehensive analytical reports.</li>
            <li>Contributed to the establishment of  a government-backed venture 
                capital fund tailored to support early-stage tech startups.</li>
            <li>Assisted in Devising a comprehensive strategy to encourage banks to 
                design specialized loan products tailored to the unique needs of small tech 
                businesses.</li>
        </ul>
    </li>
    <li><h3>Bond Investment Analyst| <br>First State Cinda Fund Management Co.,ltd</h3>
        <p>Nov 2019 -  Oct 2020</p> 
        <ul>
            <li>Conduct thorough analysis, evaluation, and reporting on market trends, investment opportunities, and associated risks pertinent to potential bond investments.</li>
            <li>Assess and forecast the creditworthiness of real estate companies to provide valuable investment insights for fund managers.</li>
        </ul>
    </li>
    <li><h3>Bond Investment Analyst| <br>YINGDA Securities Co.,Ltd</h3> 
        <p>Jul 2015 -  Oct 2019</p>  
        <ul>
            <li>Conduct in-depth research on urban construction investment bonds and real estate bonds to generate valuable insights for making informed investment decisions.</li>
            <li>Stay abreast of industry trends and continuously monitor and evaluate the operational landscape of bond issuers within the portfolio.</li>
        </ul>
    </li>
</ul>
<hr/>
<h2>Adwards, Interests, Skills</h2>
<p>
    <ul>
        <li>Awards: Third Prize in the National College English Competition at the Provincial Level,  2009, 2010.</li>
        <li>Skills: proficiency in the programming language C, along with a solid understanding of data structures and algorithms.  Adept at using Vim tools for efficient code editing and development.</li>
        <li>Interests in career path:  A strong interest in quantitative finance fueled by my enthusiasm for leveraging technology to analyze data, develop mathematical models, and make informed decisions in financial markets.</li>
    </ul>
</p>
<hr/>
<h2>Professional Certifications</h2>
<p>
    <ul>
        <li>National Computer Rank Examination Certificate( Grade2, C++) </li>
        <li>Securities Practitioner Qualification<br> Futures Practitioner Qualification<br>
         Fund Practitioner Qualification<br>Inter-bank RMB Market Trader Qualification<br></li>
    </ul>
</p>
<hr/>
<h2>Other</h2>
<ul>
    <li><a href="./public/Contact Me.html">Contact Me</a></li>
    <li><a href="./public/My Hobbies.html">My Hobbies</a> </li>
</ul>
<footer>
    <p>© Tengrui Kong. All rights Reserved</p>
  </footer>
<hr/>

</body>
</html>